.main {
    width: 60%;
    margin: auto;
}

ul#menu li {
    display: inline;
}

li:not(:first-child){
    margin-left: 36px;
}

#menu {
    text-align: center;
}

.page-content {
    background-color: #f5f6f7;;
}