.task-item-container{
    display: grid;
    grid-template-columns: auto 90% auto;

    padding-right: 1rem;
}

.item-text-done {
    text-decoration: line-through;
    color: gray;
}

.item-done {
    cursor: pointer;
}

.item-delete {
    cursor: pointer;
}

ul {
    padding-left: 1rem;
}

