header {
    display: flex;
    justify-content: space-between;
}

.navigation-link {
    background-color: #0077b3;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}