.input-task {
    width: 70%;
    margin-left: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.add-button {
    background-color: #4CAF50;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    color: white;
    border: 1px solid  #4CAF50;
}