.button-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
}

.button{
    background-color: #16a085;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.75em;
}