.edit-icon {
    cursor: pointer;
}
h3 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

th {
    
    background-color: #00aaff;
    color: white;
  }

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

tr:hover {
    background-color: #f5f5f5;
}

.progress-spiner {
    text-align: center;
}

.error {
    text-align: center;
    color: red;
}